<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      
    </commands>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.IntelligentSearch.IocConfig, SitecoreCognitiveServices.Feature.IntelligentSearch" />
    </services>
    <settings>
      <setting name="CognitiveService.IntelligentSearch.DictionaryDomain" value="Intelligent Search Dictionary" />
      <setting name="CognitiveService.IntelligentSearch.SearchProfileTemplateId" value="{C4F94E58-8023-4041-B62C-1084E6C22652}" />
      <setting name="CognitiveService.IntelligentSearch.ApplicationIdFieldId" value="{EAF20113-50FD-428B-AA48-04A21D4CE90D}" />
      <setting name="CognitiveService.IntelligentSearch.IntelligentSearchItemId" value="{25002E11-636C-42FE-A898-89153BD76642}" />
    </settings>
    <sites>
      <site name="intelligentsearch" patch:before="site[@name='website']"
        hostName="intelligentsearch.local" rootPath="/sitecore/content/Intelligent Search"
        startItem="/home" database="web" domain="extranet" language="en" physicalFolder="/" />
      </sites>
  </sitecore>
</configuration>